<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ajout de styles personnalisés ici */
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Mon Application</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Administration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-1">HELLO</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h2 class="mb-4">Nombre de lignes dans la table Club :</h2>
                <div class="alert alert-info" role="alert">
                    {{ club_count }}
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h2>Joueurs :</h2>
                <ul class="list-group">
                    {% for my_player in players %}
                        <li class="list-group-item">{{ my_player.first_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <p>{{ ball }}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
